/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  /* color: #333; */
  color: white;
  font-size: 17px;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f16435;
  /* text-shadow: -5px 1px 0 #000, */
  font-size: 50px;
  
  text-shadow:
    -1px -1px 0 #000,
      0   -1px 0 #000,
      1px -1px 0 #000,
      1px  0   0 #000,
      1px  1px 0 #000,
      0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* body {
  background-image: url("https://images.unsplash.com/photo-1537420327992-d6e192287183?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1976&q=80");
  background-size: cover;
  background-repeat: no-repeat;

} */

/* body {
  background-image: url("https://unsplash.com/photos/Q_RBVFFXR_g");
  background-size: cover;
  background-repeat: no-repeat; */

/* } */

.links {
  color: 'white', 
    backgroundColor #d2c4c8,
    borderRadius 8px 
}

.singleCard {
  font-size: 50px;
  color: rgb(225, 225, 236);
    
}

.buttonTime {
  color: white;
  background-color: #f16435;
  font-size: 40px;
  border-radius: 8px; 
  box-shadow: 0px 0px 2px 2px rgb(0,0,0);
  margin-right: 10px;
  
  
}

.buttonTime:hover {
  background-color:#000;
  color: white;
}

.particle-div {
  margin: 0 auto;
  width: 800px;
  height: 500px
}

body {
  background-image: url("https://images.unsplash.com/photo-1537420327992-d6e192287183?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1976&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  

}
li {
  color: white
}

element.style {
  color: white
  
}

.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.form {
  color: rgb(17, 5, 5)
  
}


/* Place the navbar at the bottom of the page, and make it stick */
.footNavbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.footNavbar  a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.footNavbar  a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.footNavbar  a.active {
  background-color: #04AA6D;
  color: white;
}

h3 {
  font-size: 40px;
}








