@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
  /* text-shadow: -5px 1px 0 #000, */
  font-size: 50px;
  
  text-shadow:
    -1px -1px 0 #000,
      0   -1px 0 #000,
      1px -1px 0 #000,
      1px  0   0 #000,
      1px  1px 0 #000,
      0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

body {
  background-image: url("https://www.nasa.gov/sites/default/files/thumbnails/image/main_image_star-forming_region_carina_nircam_final-5mb.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}

.links {
  color: 'white', 
    backgroundColor #d2c4c8,
    borderRadius 8px 
}

.singleCard {
  font-size: 50px;
  color: rgb(225, 225, 236);
    
}


